[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesImageS"]
	path = bayesImageS
	url = https://bitbucket.org/azeari/bayesimages
[submodule "serrsBayes"]
	path = serrsBayes
	url = https://github.com/mooresm/serrsbayes
